a {
    color: inherit;
}

.comment-container {
    padding: 1em;
}

.comment-footer {
    align-items: center;
    display: flex;
}

.comment-footer > * {
    margin: 0px 5px 0px 5px;
}

.comment-reply-button,
.comment-edit-button,
.comment-delete-button,
.comment-loadmore-button {
    cursor: pointer;
}

.comment-reply-button:hover,
.comment-edit-button:hover,
.comment-delete-button:hover {
    text-decoration: underline;
}

.comment-parent-container {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 1em;
}
.comment-container button {
    border: none;
    outline: none;
}

.comment-subcomments-container {
    padding-left: 2em;
}

.comment-text-editor > textarea {
    width: 100%;
    resize: vertical;
}

.hidden {
    display: none;
} 
