@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

.edit-profile-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
}

.modal-content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    box-sizing: border-box;
    width: 510px;
    color: #fafafa;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    font-size: medium;
    font-family: "Sen", sans-serif;
    padding: 25px 30px 25px 30px;
}

.main-header {
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
}

.main-header-desc {
    font-size: 80%;
    text-align: center;
    margin-bottom: 5%;
}

.main-divider {
    margin-bottom: 5%;
}

#profile-picture {
    width: 100%;
}

#description {
    width: 100%;
}

#description::placeholder {
    font-family: "Sen", sans-serif;
}

.profile-picture {
    margin-bottom: 5%;
}

.description {
    margin-bottom: 5%;
}

#description {
    resize: none;
}

.submit-form-button {
    padding: 1% 2%;
    font-size: medium;
    font-family: "Sen", sans-serif;
    display: block;
    margin: 0 auto;
}

.submit-form-button:hover {
    background-color: lightgray;
}
