@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

.red-text {
    color: red;
}

.main {
    width: 510px;
    margin: auto;
    color: #fafafa;
    background-color: #222222;
    font-size: medium;
    font-family: "Sen", sans-serif;
}

.main-content-container {
    padding: 30px;
    margin: auto;
}

.main-header {
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
}

.main-header-desc {
    font-size: 80%;
    text-align: center;
    margin-bottom: 5%;
}

.main-divider {
    margin-bottom: 5%;
}

#login-email {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

#login-username {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

#login-password {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

.login-email {
    margin-bottom: 5%;
}

.login-username {
    margin-bottom: 5%;
}

.login-password {
    margin-bottom: 4%;
}

.login-options {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4%;
}

.required-fields-text {
    font-size: 90%;
}

.submit-form-button-container {
    margin-bottom: 5%;
}

.submit-form-button {
    padding: 1% 2%;
    font-size: medium;
    font-family: "Sen", sans-serif;
    display: block;
    margin: 0 auto;
}

.submit-form-button:hover {
    background-color: lightgray;
}

.horizontal-separator {
    margin-bottom: 5%;
}

.need-account-text {
    text-align: center;
    margin-bottom: 1%;
}

#register-button  {
    padding: 1% 2%;
    font-size: medium;
    font-family: "Sen", sans-serif;
    display: block;
    margin: 0 auto;
}

#register-button:hover {
    background-color: lightgray;
}