:root {
    font-size: 16px;
    --logo-font: "Gugi";
    --main-font: "Noir-Light";
    --header-font: "Noir-Bold";
    --main-color: #edf6ff;
}

.profile-panel {
    margin: 10px auto 0px auto;
    width: 80%;
    padding: 5%;
    color: var(--main-color);
    position: sticky;
    top: 65px;
    border-radius: 5px;
    background-image: linear-gradient(#31294c, #5756bb, #8182da);
    box-shadow: 0px 3px 6px 0px #31294c;
}

.profile-panel-2 {
    background-image: linear-gradient(#31294c, #5756bb, #8182da);
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 20px;
    box-sizing: border-box;
    color: var(--main-color);
    display: none;
    box-shadow: 0px 3px 6px 0px #31294c;
}

@media screen and (max-width: 958px) {
    .profile-panel-2 {
        display: block;
    }
}

.profile-picture img {
    width: 150px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.profile-picture-2 img {
    width: 80px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.username-and-edit-button-container {
    display: flex;
    justify-content: space-between;
}

.username-text {
    font-family: var(--header-font);
    font-size: 1.25rem;
    margin-right: 10px;
}

.edit-profile-button {
    display: none;
    background: none;
    color: var(--main-color);
    text-transform: uppercase;
    font-family: var(--header-font);
    border: 1px solid var(--main-color);
    border-radius: 50px;
    padding: 0.4rem 0.75rem;
    font-size: smaller;
}

.edit-profile-button:hover {
    background-color: black;
}

.user-description {
    font-size: medium;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 20px;
    padding: 10px 0px;
}

.user-statistics > div {
    display: flex;
    justify-content: space-between;
}

.view-options-panel {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.profile-content-option {
    font-family: var(--header-font);
    color: var(--main-color);
    margin-right: 5%;
    cursor: pointer;
}

.profile-content-option:hover {
    color: black;
}
