:root {
    font-size: 16px;
    --logo-font: "Gugi";
    --main-font: "Noir-Light";
    --header-font: "Noir-Bold";
    --main-color: #edf6ff;
    --navbar-height: 45px;
}

/* fonts */
@font-face {
    font-family: Gugi;
    src: url(fonts/Gugi-Regular.ttf);
}

@font-face {
    font-family: Noir-Light;
    src: url(fonts/noir-std-light.ttf);
}

@font-face {
    font-family: Noir-Bold;
    src: url(fonts/noir-std-semi-bold.ttf);
}

a {
    color: inherit;
}

.red-text {
    color: red;
}

.comment-container {
    border: 1px solid white;
    border-radius: 5px;
    padding: 1em;

    margin-bottom: 1em;
}

.comment-author {
    font-family: var(--header-font)
}

.comment-edited-remark {
    color: lightgray;
    font-size: 0.9rem;
    font-weight: 600;
}

/* bottom padding is redundant in this case because it is provided by subcomments' margin */
.comment-container.with-subcomments {
    padding-bottom: 0;
}

/* emulate subcomments' margin in this case */
.comment-loadmore-button {
    display: block;
    margin-bottom: 1em;
}

.comment-subcomments-panel {
    margin-top: 1em; /* add spacing between parent comment and the panel */
    padding-left: 2em;
}

.comment-footer {
    align-items: center;
    display: flex;
}

.comment-footer > * {
    margin: 0px 5px 0px 5px;
}

.comment-reply-button,
.comment-edit-button,
.comment-delete-button,
.comment-loadmore-button,
.confirm-comment-deletion:hover,
.cancel-comment-deletion:hover {
    cursor: pointer;
}

.comment-reply-button:hover,
.comment-edit-button:hover,
.comment-delete-button:hover,
.confirm-comment-deletion:hover,
.cancel-comment-deletion:hover {
    text-decoration: underline;
}

.comment-container button {
    border: none;
    outline: none;
}

.comment-text-editor > textarea,
.post-text-editor > textarea {
    width: 100%;
    resize: vertical;
    font-family: var(--main-font);
    font-size: 0.9rem;
}

.hidden {
    display: none;
} 
